 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

 body {
     background: url(../images/bg-desktop.svg) no-repeat;
     background-color: var(--violeta);
     background-size: cover;
     min-height: 100vh;
 }

 .container {
     max-width: 1440px;
     margin: 0 auto;
     height: 100vh;

 }

 .landing-page {
     height: 90%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 40px 0px 40px 0px;
     margin: 0px 30px;
 }

 .header img {
     width: 200px;
 }

 .main {
     display: flex;
     align-items: center;
     gap: 30px;
 }

 .texto {
     color: #fff;
     font-family: 'Poppins', sans-serif;
 }

 .texto h1 {
     font-size: 35px;

 }

 .texto p {
     font-family: 'Open Sans', sans-serif;
     margin-top: 35px;
     line-height: 30px;
 }

 .texto a {
     color: var(--violeta);
     padding: 5px 50px;
     line-height: 50px;
     background-color: #fff;
     border-radius: 50px;
     transition: 0.3s;
 }

 .texto a:hover {
     cursor: pointer;
     background-color: var(--mangeta);
     color: #fff;
 }

 .footer {
     display: flex;
     justify-content: flex-end;
     gap: 20px;
     font-size: 25px;
 }

 .footer i {
     border: solid 3px #fff;
     border-radius: 200px;
     padding: 10px;
 }

 .footer i:hover {
     border: solid 3px var(--mangeta);
     color: var(--mangeta);
 }

 @media(max-width:1440px) {
     .header img {
         max-width: 100%;
     }
 }

 @media(max-width:768px) {

     .main {
         flex-direction: column;
         text-align: center;
     }
   
     .footer {
         justify-content: center;
         margin-top: 50px;
     }

     .texto p {
         margin-top: 0px;
     }
 }

 @media(max-width:425px) {
    .main .image img{
        max-width: 105%;
    }
 }